*{ box-sizing: border-box;}
html, body{ 
width: 100%;
overflow-x: hidden;
height: 100%;
background: bisque;}

@font-face {
font-family: "CarlaSansLight";
src: url("../fonts/CarlaSansLight.ttf") format("truetype");
font-style: Light;
font-weight: Light;
}

p{ font-family: 'CarlaSansLight'; }

#integriruemtext{
    margin: 10% 40%;
}




.flower, .flower2 , .flower3 {
    display: flex;
    margin: 20px;
    position: absolute;
    cursor: pointer;
    transform: rotate(45deg);
    transition: all 1s ease-in-out;
}

.flower2{
    margin-left: 20%;
}

.flower3{
    margin-left: 40%;
}

.lepestok{
    width: 50px;
    height: 50px;
    background-color: hotpink;
    margin: 5px;
    border-radius: 50%;
    transition: all 0.1s ease-in-out;
}

.flower:hover .lepestok{
    background-color: coral;
    transition: all 0.1s ease-in-out;
    transform: scale(1.6);

}

.flower:hover{
    transform: rotate(60deg);
}


.flower2:hover{
    animation: rotateflo 1s linear infinite;
}

@keyframes rotateflo {
    0%{transform: rotate(45deg); }
    100%{transform: rotate(405deg);  }
}

.flower3{
    animation: flo3 1s linear infinite;
}

@keyframes flo3{
    0%{transform: rotate(45deg);}
    100%{transform: rotate(405deg);}
}

.flower3:hover{
    animation-play-state: paused;
}

.flower3 .lepestok{
      animation: floooo 1s linear infinite;
}


@keyframes floooo {
    0%{  background-color: hotpink; }
    50%{background-color: aqua;}
    100%{  background-color: hotpink; }
}

.center{
    position: relative;
    margin-left: 60%;
    margin-top: 1%;
}

.rotating_div , .rotating_div2,  .rotating_div3{
    position: absolute;
    width: 150px;
    height: 200px;
    border: 4px solid orangered;
    border-radius: 50%;
    animation: spin 3s linear infinite;
    transform-origin: left center ;
    transform-style: preserve-3d ;
}

.rotating_div2{
    animation-delay: 0.5s;
}
.rotating_div3{
    animation-delay: 1s;
}

@keyframes spin{
    from{ transform: rotateX(0deg); }
    to{ transform: rotateX(360deg);}
}



.sprite{
    position: relative;
    margin-top: 14%;
    margin-left: 6%;
    width: 14vw;
    height: 10vw;
    background: url("../images/dog.png") no-repeat;
    background-size: 680% 100%;
    animation: sprite 1s steps(8) infinite;
}

@keyframes sprite{
    from { background-position: 0 0;}
    to { background-position: 100% 0;}
}

.boble{
    position: relative;
    /* margin-top: 14%; */
    margin-left: 20%;
    width: 10vw;
    height: 10vw;
    background: url("../images/test.png") no-repeat;
    background-size: 800% 100%;
    animation: sprite 1s steps(1) infinite;
}

@keyframes sprite{
   0%{ background-position: 0 0}
   10%{background-position:  -10vw 0; }
   20%{background-position:  -20vw 0;  }
   30%{background-position:  -30vw 0;  }
   40%{background-position:  -40vw 0;  }
   50%{background-position:  -50vw 0;  }
   60%{background-position:  -60vw 0;  }
   80%{background-position:  -70vw 0;  }
   100%{background-position:  -80vw 0; }
}